@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    background-color: #222;
}

 .Typo {
    color: #aa9c04;
    display: inline-block;
    margin: 0;
    padding: 30px;
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: normal;
 }

 .navbar {
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    justify-content: center;
    margin-left: 11%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;

  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: #aa9c04;
    color: black;
    border-radius: 5px;
  }
  
  .navbar a.active {
    background-color: #aa9c04;
  }



table {
    color: rgb(212, 212, 212);
    width: 80%;
    margin-top: 50px;
    margin-left: 30px;
}

th {
    text-align: left;
    padding-bottom: 20px;
    color: #fff;
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
}


td {
  padding-bottom: 4px;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}

 
.btn {
  background-color: #aa9c04;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}

.btn:hover {
  background-color: #aa9c049d;
}

