<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='Assets/favicon.ico') }}" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}"> 
    <title>About us</title>
</head>
<body>
    <h1 class="Typo">ShareSphere</h1>


    <div class="navbar">
        <a href="/Source">Source code</a>
        <a href="/">My Files</a>
        <a href="/Upload">Upload Files</a>
        <a href="/AboutUs">About us</a>
    </div>
<div class="content">
    <h2>What is ShareSphere?</h2>

    <p>ShareSphere is the litest tool you can use for sharing
    your data on local Ethernet on http protocol.
    </p>

    <h2>Who we are?</h2>

    <p>We are anonymous developers :).
        anyway, these are our github pages:

        <br>
        <br>
        <a href="https://github.com/Pouryakillsound" class="link" target="_blank">Pourya's Github</a><br>
        <a href="https://github.com/parhamashorian" class="link" target="_blank">Parham's Github</a>
    </p>
</div>
</body>
</html>